.select2-selection__rendered {
  margin: 6px;
}

.select2-selection__arrow {
  margin: 6px;
}

.select2-selection {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  color: #555555;
  font-size: 14px;
  outline: 0;
  min-width: 100%;
  min-height: 40px;
  text-align: left;
}

.select2 {
    width: 100% !important;
}
